<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Chat.Android">
	<uses-sdk android:minSdkVersion="6" />
	<application android:label="Chat" android:icon="@drawable/icon"></application>
</manifest>